ECON-412/ECON-412_hw-03.tex
ECON-412/paper-assignment-01.tex
ECON-412/paper-assignment-02.tex
ECON-412/paper-assignment-03.tex
ECON-412/paper-assignment-04.tex
ECON-412/paper-assignment-05.tex
master_presentation.aux
master_presentation.bbl
master_presentation.blg
master_presentation.log
master_presentation.nav
master_presentation.out
master_presentation.pdf
master_presentation.snm
master_presentation.synctec.gz
master_presentation.synctec.gz.sum
master_presentation.toc
master_article.aux
master_article.bbl
master_article.blg
master_article.log
master_article.out
master_article.pdf
master_article.synctex.gz
master_article.synctex.gz.sum.synctex
