.masthead {
  background-color: $masthead-background-color;

  &__inner-wrap {
  background-color: $masthead-background-color;

      nav {
      background-color: $masthead-background-color;
    }
    
  }


  }
