// Add scrollbar to sticky Table of Contents in small screens
// From: https://github.com/iBug/iBug-source/blob/ca14b16997b9be975dd1719b9871f466421034f2/_sass/toc.scss
// Copyright: iBug <git@ibugone.com>
// License: CC BY-SA 4.0
// Color customization by C. Fernandez

.sidebar__right.sticky {
  @include breakpoint($large) {
    max-height: calc(100vh - 4em);
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    right: -2px;
  }

  // WARNING: This is not working
  &:hover::-webkit-scrollbar-thumb {
    opacity: 1 !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);

    // WARNING: This is not working
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 146, 202, 0.5);
    }
  }
}
