/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* mix(a,b,x%) for x% of the first color mixes with the second)
/* Colors  These are colors from Overleaf's color scheme
 #318243: dark overleaf green
 #292838: a dark grey almost black
 #8fcd92 : a light overleaf green
 #f3f3f3: very light grey
 # Install Package: Color Highlight will make this a lot easier
 #f3f3f3
$background-color: #f3f3f3 !default;

*/
$background-color: #fbfbfb !default;
$text-color: #292838 !default;
$muted-text-color: mix(#fff, $text-color, 60%) !default;

/*inline code*/
$code-background-color: mix(#000, $background-color, 20%) !default;
$code-background-color-dark: mix(#000, $background-color, 70%) !default;
$form-background-color: mix(#fff, $background-color, 15%) !default;


$primary-color: #8fcd92 !default;
$toc-border-color: $background-color !default; 
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #318243 !default;
$link-color: #318243 !default;
$link-color-hover: #8fcd92 !default;

$masthead-background-color: #318243;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: #8fcd92 !default;
$navicon-link-color-hover: mix(#fff, #404040, 80%) !default;


/* contrast syntax highlighting (base16) */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
